.bot{
    
    
    border: rgb(129, 127, 252) 5px solid;
    

}
.descargar{
text-align: center;
    border: rgb(241, 6, 6) 5px solid;
    
}
.anuncio{

    background: cornflowerblue;
}
.header{
    height: 50px;
}